<div class="container" style="align-items: center;">
    <h1>Creaciones del Humano</h1>
<div style="margin:0 2ch;" class="btn-group" role="group" aria-label="Basic outlined example">
  <div><button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">Menu</button>
<div class="offcanvas-body">
  </div>
</div>
<div class="offcanvas offcanvas-start" style="background:black;" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="btn-no" id="offcanvasWithBackdropLabel">Others</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
                        <a href="/datos" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            Datos
                        </a>
                        <a href="/entretenimiento" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            Entretenimiento
                        </a>
                        <a href="/create" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            AddNote
                        </a>

                        <a href="/about" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            About
                        </a>
                        <a href="/logout" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            logout
                        </a>
  </div>
</div>
<div>
  <a href="/" class="btn btn-outline-secondary" style="margin: 0 10px;" > Home</a></div>
</div>
    
</div>



<div style="justify-items: center; align-items:center;margin:0 10px;">
  <form action="" method="post">
    <div class="mb-4">
  <label style="margin: 10px;">Titulo de Tarea</label>
  <input type="text" style="margin:10px; background: #96e7ad; font-size:18px; width:300px;" class="form-control" placeholder="Tarea" name="title">
</div>
<div class="mb-4" style="margin: 10px;">
  <label for="exampleFormControlTextarea1" class="form-label">Descripcion de Tarea</label><br>
  <textarea name="description" placeholder="Descripción"  rows="5" style="border-radius: 10px;color:blueviolet; font-size:20px; background:#96e7ad; width:300px;"></textarea>
</div>
<button type="submit" style="margin:0 200px;" class="btn btn-outline-info">Send</button>
</form>
</div>
</div>