<div class="container" style="align-items: center;">
    <h1>Bienvenido Humano <b>{{name}}</b></h1>
<div>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/iconProfileAdmi.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/register4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/register5.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div style="margin: 0 10px;">
  <h1>UsoMultiple</h1>
    <p>Uso Multiple es una aplicacion creada con la finalidad de dar al usuario dos apartados en los cuales uno de ellos es que podra agregar notas que se guardaran en el apartado de notas <br>
    <br>
   <img src="img/Nav/libro.png" class="card-img-top" alt="...">
    </p>
    <p>
      Otro de los apartados que tiene la aplicacion es un entretenimiento que este consta de un apartado en el cual contiene 
      link que te llevaran a distintas paginas en las cuales podras iteractuar como por ejemplo Youtube, la cual es Una plataforma
      en la cual puedes encontrar contenido de todo tipo. 
    </p>
     <br></p>
</div>

</div>



