<div class="container" style="justify-content: center; align-items:center;">


<div class="btn-group" role="group" aria-label="Basic outlined example">
  <div><button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">Menu</button>
<div class="offcanvas-body">
  </div>
</div>
<div class="offcanvas offcanvas-start" style="background:black;" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="btn-no" id="offcanvasWithBackdropLabel">Others</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
                        <a href="/datos" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            Datos
                        </a>
                        <a href="/entretenimiento" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            Entretenimiento
                        </a>
                        <a href="/create" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            AddNote
                        </a>

                        <a href="/about" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            About
                        </a>
                        <a href="/logout" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            logout
                        </a>
  </div>
</div>
<div>
  <a href="/" class="btn btn-outline-secondary" style="margin: 0 10px;" >Home</a></div>
</div>
    
</div>

<div style="margin: 0 10px;">
  <h1>Sobre Nosotros:</h1>
    <img src="img/Nav/iconWorkNav.png" class="card-img-top" alt="...">
    <p>Somos Dos estudiantes de la Universidad Tecnologica de Xicotepec de Juárez Puebla <br>
    En Área de Desarrollo Multiplataforma, Estamos terminando el quinto Cuatrimestre y dentro de poco Haremos la estadia. <br>
    Este Proyecto Consta de 3 bases: Nodejs, Mysql y Bootstrap.
    <br>Esta Subido por Github: 
    <br>
    <img src="img/Nav/iconMatterNav.png" class="card-img-top" alt="...">
    <a class="btn btn-outline-light " style="width: 100px; " href="https://github.com/srzzuares/NodejsMysqlCrud">SrZzuares</a> 
    y esta desplegado por Heroku y su base de datos es Mysql, luego esta convertido por apk en Apache Cordova <br>
     y esta lista la aplicacion para ser instalada en cualquier celular ya sea Android
     <br></p>
</div>

    
</div>