<div class="container">

        <div class="btn-group" role="group" aria-label="Basic outlined example">
  <div><button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">Menu</button>
<div class="offcanvas-body">
  </div>
</div>
<div class="offcanvas offcanvas-start" style="background:black;" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="btn-no" id="offcanvasWithBackdropLabel">Others</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
                        <a href="/datos" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            Datos
                        </a>
                        <a href="/entretenimiento" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            Entretenimiento
                        </a>
                        <a href="/create" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            AddNote
                        </a>

                        <a href="/about" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            About
                        </a>
                        <a href="/logout" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            logout
                        </a>
  </div>
</div>
<div>
  <a href="/" class="btn btn-outline-secondary" style="margin: 0 10px;" >Home</a></div>
</div>
    
</div>


    <div class="card" style="width: 15rem;">
  <img src="/img/youtube-logo.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">YouTube</h5>
    <p class="card-text">Canal de Entretenimiento en cualquier Momento</p>
    <a href="https://www.youtube.com" class="btn btn-outline-success">Entrar</a>
  </div>
</div>

<div class="card" style="width: 15rem;">
  <img src="/img/twitch.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Twitch</h5>
    <p class="card-text">Canal para Influencers en Vivo o Directo</p>
    <a href="https://www.twitch.tv/elded" class="btn btn-outline-success">Entrar</a>
  </div>
</div>

<div class="card" style="width: 15rem;">
  <img src="/img/twitter.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Twitter</h5>
    <p class="card-text">Red Social mas Utilizada para Stremers y famosos.</p>
    <a href="https://twitter.com/?lang=es" class="btn btn-outline-success">Entrar</a>
  </div>
</div>

<div class="card" style="width: 15rem;">
  <img src="img/facebook.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Facebook</h5>
    <p class="card-text">Red Social mas Utilizada para Publicaciones Globales.</p>
    <a href="https://facebook.com" class="btn btn-outline-success">Entrar</a>
  </div>
</div>

<div class="card" style="width: 15rem;">
  <img src="/img/mongodb.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">MongoDb</h5>
    <p class="card-text">Base de Datos Online</p>
    <a href="https://cloud.mongodb.com" class="btn btn-outline-success">Entrar</a>
  </div>
</div>
</div>