<div>

             <section>
        <div class="box">
            <div class="form">
                <div class="imgLogin">
                        <img src="/img/register3.jpg" class="imgLo">
                    </div>
                <h2>Register</h2>
                <form action="" method="post">
                    <div class="inDatos">
                        <input type="text" name="name" placeholder="Name">
                        <img src="img/iconProfileNav1.png">
                    </div>
                    <div class="inDatos">
                        <input type="email" name="email" placeholder="Email">
                        <img src="img/iconLoginUser.png">
                    </div>
                    <div class="inDatos">
                        <input type="password" name="password" placeholder="password">
                        <img src="img/iconLoginPassword.png">
                    </div>
                    <div class="inDatos">
                            <input type="submit" value="Send">
                        </div>
                </form>
                {{#if error}}
                        <p style="color: crimson;">*{{error}}</p>
                    {{/if}}

            </div>
        </div>
    </section>   

</div>

<!--<h2>Register</h2>
                <form action="" method="post">
                    <div class="inDatos">
                        <input type="text" name="name" placeholder="Name" 
    class="border border-gray-200 w-full text-lg placehoder-gray-500 p-2 my-2 bg-gray-200 focus:bg-white" required>
                    </div>
                    <div class="inDatos">
                        <input type="email" name="email" placeholder="Email" 
    class="border border-gray-200 w-full text-lg placehoder-gray-500 p-2 my-2 bg-gray-200 focus:bg-white" required>
                    </div>
                    <div class="inDatos">
                        <input type="password" name="password" placeholder="Password" 
    class="border border-gray-200 w-full text-lg placehoder-gray-500 p-2 my-2 bg-gray-200 focus:bg-white" required>
                    </div>
                    <div class="inDatos">
                        <input type="submit" value="Send">
                    </div>

                    {{#if error}}
                        <p style="color: crimson;">*{{error}}</p>
                    {{/if}}
                </form>-->



                