<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/sidebars.css">
    <script src="js/sidebars.js"></script>
    <link rel="shortcut icon" href="img/iconHomeNav.png" type="image/x-icon">
    <title>CsSuar</title>
</head>
<body>
    <div class="container">
            <nav style="margin: 0 0 10px 0; border-radius:10px;" class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            
                  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                    <ul class="navbar-nav">
                      
                      <li class="nav-item">
                        <a class="nav-link indisable" aria-current="page" href="/">CryJoss</a>
                      </li>
                      
                      {{#if name}}
                      <p>{{name}}</p>
                      


                        <li class="nav-item">
                        <a class="nav-link" href="/datos">Datos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="/entretenimiento">Entretenimiento</a>
                      </li>
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Options</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown08">
                          <li><a class="dropdown-item" href="/create">AddData</a></li>
                          <li><a class="dropdown-item" href="/about">About</a></li>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                      </li>
                      
                        
                      {{else}}

                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Session</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown08">
                          <li><a class="dropdown-item" href="/login">Login</a></li>
                          <li><a class="dropdown-item" href="/register">Register</a></li>
                        </ul>
                        </li>                      
                        {{/if}}
                      
                        
                      
                    </ul>
                  </div>
                </div>
              </nav>
        </div>


  <!--<div class="menu-collapsed" id="sidemenu">
    <div id="header">
      <div id="title"> <span>Vida Programante</span></div>
      <div id="menu-btn">
        <div class="btn-hamburger"></div>
        <div class="btn-hamburger"></div>
        <div class="btn-hamburger"></div>
      </div>
    </div>

    <div id="profile"> 
      <div id="photo"><img src="img/register4.png" alt=""></div>

      <div id="name"><span>CrysSuar</span></div>
    </div>

    <div id="menu-items">
      <div class="item">
        <a href="#">
          <div class="icon"><img src="img/Nav/iconProfileNav.png" alt=""></div>
          <div class="title"><span>ProfileHome</span></div>
        </a>
      </div>
    </div>

  </div>-->



{{{body}}}

</body>
</html>